@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

$secondary: #ff00ff;
$base: #0000ff;
$white: #f5f5f5;

html {
  background-color: #192542;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Viga', sans-serif;
}

button,
a {
  cursor: pointer;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-toggle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 24px;
  background-color: $secondary;
  color: whitesmoke;
  z-index: 2;
  &:focus {
    outline: none;
    border: none;
  }
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #192542;
  transition: 0.8s;
  z-index: 1;
  a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    &:hover {
      color: $secondary;
    }
  }
  .line {
    height: 40px;
    width: 1px;
    background-color: whitesmoke;
    margin: 30px 0;
  }
}

nav.active {
  right: 0;
  transition: 0.8s;
}

@media screen and (min-width: 767px) {
  nav {
    width: 400px;
    right: -400px;
  }
}

.index {
  min-height: 100vh;
  .landing {
    padding: 0 30px;
    height: 100vh;
    width: 100%;
    background-color: $base;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    h1 {
      text-align: center;
      font-size: 36px;
      margin-bottom: 2rem;
      text-decoration: underline;
      text-decoration-color: $secondary;
    }
    img {
      width: 80%;
    }
  }
  .cv {
    height: 85vh;
    padding: 40px 30px;
    text-align: center;
    background-color: $white;
    color: #192542;
    .buttons {
      width: 100%;
      flex-direction: column;
      margin-top: 48px;
      button {
        width: 200px;
        height: 60px;
        padding: 18px 0 30px;
        margin-bottom: 24px;
        background-color: $secondary;
        border: 0;
        outline: none;
        color: $white;
        text-transform: uppercase;
        &:hover {
          background-color: $base;
        }
      }
    }
  }
  .attributes {
    padding: 40px 30px;
    width: 100%;
    background-color: $base;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    h1 {
      text-decoration: underline;
      text-decoration-color: $secondary;
    }
    section {
      margin: 20px 30px;
      img {
        width: 100%;
      }
      h2 {
        margin: 20px 0;
        text-decoration: underline;
        text-decoration-color: $secondary;
      }
    }
  }
  .projects {
    padding: 40px 30px;
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #192542;
    text-align: center;
    h1 {
      text-decoration: underline;
      text-decoration-color: $secondary;
    }
    h2 {
      margin: 20px 0;
      text-decoration: underline;
      text-decoration-color: $secondary;
    }
    h4 {
      margin: 20px 0;
      a {
        color: $secondary;
        text-decoration: none;
      }
    }
    section {
      margin: 20px 30px;
      img {
        width: 100%;
      }
    }
  }
  .close {
    padding: 40px 30px;
    width: 100%;
    position: relative;
    background-color: $base;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    text-align: center;
    h1 {
      text-decoration: underline;
      text-decoration-color: $secondary;
    }
    h4 {
      margin: 20px 0;
    }
    button {
      width: 100%;
      height: 100px;
      margin: 160px 0 20px;
      background-color: $secondary;
      border: 0;
      outline: none;
      color: $white;
      text-transform: uppercase;
      font-size: 18px;
      &:hover {
        background-color: $white;
        color: $secondary;
      }
    }
    img {
      position: absolute;
      width: 200px;
      right: 0;
      top: 45%;
    }
  }
  footer {
    padding: 40px 30px;
    width: 100%;
    position: relative;
    background-color: #192542;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    text-align: center;
    h1 {
      text-decoration: underline;
      text-decoration-color: $secondary;
    }
    p {
      margin: 20px 0;
    }
    .icons {
      font-size: 3rem;
      svg {
        &:hover {
          cursor: pointer;
          color: $secondary;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .index {
    .landing {
      flex-direction: row;
    }
    .cv {
      height: 450px;
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        justify-content: center;
        h2 {
          width: 500px;
        }
      }
    }
    .attributes {
      height: 650px;
      .row {
        display: flex;
        section {
          width: 30%;
          height: 400px;
          img {
            width: 180px;
            height: 180px;
          }
        }
      }
    }
    .projects {
      .row {
        display: flex;
        flex-direction: row;
        section {
          width: 30%;
          img {
            width: 180px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .index {
    .landing {
      justify-content: center;
      max-height: 950px;
      h1 {
        max-width: 600px;
      }
      img {
        width: 550px;
      }
    }
    .cv {
      .header {
        h2 {
          width: 800px;
        }
      }
    }
    .attributes {
      height: 650px;
      .row {
        display: flex;
        section {
          width: 400px;
          height: 400px;
          img {
            width: 180px;
            height: 180px;
          }
        }
      }
    }
    .projects {
      .row {
        section {
          width: 400px;
          img {
            width: 180px;
          }
        }
      }
    }
    .close {
      button {
        width: 600px;
        margin: 100px 0 20px;
      }
      img {
        width: 250px;
        top: 100px;
        right: 20%;
      }
    }
  }
}

.modal-overlay {
  transition: 0.8s ease;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(25, 37, 66, 1);
}

.modal-overlay.active {
  opacity: 1;
}

.modal {
  background-color: #192542;
  transition: 0.8s ease;
  width: 100%;
  height: 100vh;
  padding: 40px 30px;
  text-align: center;
  overflow-y: scroll;
}

.modal-trial {
  position: fixed;
  transition: 0.8s;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(25, 37, 66, 1);
}

.modal-trial.active {
  transition: 0.8s;
  top: 0;
}

.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 70px;
  height: 70px;
  background-color: transparent;
  font-size: 2rem;
  color: $secondary;
  border: none;
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
  &:focus {
    border: none;
    outline: none;
  }
}

.modal-1 {
  display: flex;
  transition: 0.8s ease;
  flex-direction: column;
  justify-content: space-evenly;
  color: $white;
  z-index: 1;
  span {
    color: $secondary;
    text-decoration: underline;
    text-decoration-color: $white;
  }
  img {
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .modal-1 {
    align-items: center;
    height: 1000px;
    img {
      width: 500px;
    }
  }
}

.modal-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    height: 60px;
    margin: 0 20px 20px;
  }
  section {
    margin-bottom: 50px;
  }
  h2 {
    color: $secondary;
  }
  h2,
  h4 {
    margin-bottom: 2rem;
  }
  button {
    width: 200px;
    height: 80px;
    padding: 16px 0;
    background-color: $secondary;
    border: 0;
    outline: none;
    color: $white;
    text-transform: uppercase;
  }
  span {
    text-decoration: underline;
  }
}

@media screen and (min-width: 767px) {
  .modal-2 {
    p {
      width: 400px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .modal-2 {
  }
}

.modal-3 {
  color: $white;
  h2 {
    margin: 16px 0;
  }
  img {
    width: 200px;
  }
  ul {
    margin: 20px;
    list-style: none;
    li {
      color: $secondary;
      span {
        color: $white;
      }
      a {
        color: $secondary;
      }
    }
  }
  .line {
    margin: 30px 0;
    position: relative;
    background-color: $white;
    height: 100px;
    width: 2px;
  }
}

@media screen and (min-width: 767px) {
  .modal-3 {
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        width: 400px;
      }
    }
  }
}
